<html>
  <head>
    <meta charset="utf-8">
    <meta "http-equiv"="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="result type benchmarking">
    <meta name="author" content="zambal">
  </head>
  <body>
    <h2>
      <%= String.capitalize("lists") %>
    </h2>
    <ul>
      <li>
        <%= 1 + 1 %>
      </li>
      <li>
        <%= 2 + 2 %>
      </li>
      <li>
        <%= 3 + 3 %>
      </li>
      <li>
        <%= 4 + 4 %>
      </li>
    </ul>
    <ul>
      <li>
        <%= 1 + 1 %>
      </li>
      <li>
        <%= 2 + 2 %>
      </li>
      <li>
        <%= 3 + 3 %>
      </li>
      <li>
        <%= 4 + 4 %>
      </li>
    </ul>
    <ul>
      <li>
        <%= 1 + 1 %>
      </li>
      <li>
        <%= 2 + 2 %>
      </li>
      <li>
        <%= 3 + 3 %>
      </li>
      <li>
        <%= 4 + 4 %>
      </li>
    </ul>
    <ul>
      <li>
        <%= 1 + 1 %>
      </li>
      <li>
        <%= 2 + 2 %>
      </li>
      <li>
        <%= 3 + 3 %>
      </li>
      <li>
        <%= 4 + 4 %>
      </li>
    </ul>
  </body>
</html>
